.main-section{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 600px;
}
.word-title{
  max-width: 300px;
 text-align: center;
  margin-top: 4rem;
  min-height: 3rem;
  background-color: #edf0f3;
  color: rgb(2, 73, 135);
  padding: .6rem;
  border-radius: 5px;


}
.description{
   max-width: 300px;
   text-align: left;
    margin-top: .4rem;
   min-height: 3rem;
   background-color: #edf0f3;
   color: rgb(2, 73, 135);
   padding: .6rem;
   border-radius: 5px;
   font-family: Arial, Helvetica, sans-serif;
}

.phonetic{
   max-width: 300px;
   text-align: left;
   margin-top: .4rem;
   min-height: 3rem;
   background-color: #edf0f3;
   color: rgb(2, 73, 135);
   padding: .6rem;
   border-radius: 5px;
   font-family: Arial, Helvetica, sans-serif;
}

.example{
  max-width: 300px;
  padding: .6rem;
  background-color: #edf0f3;
  margin-top: .4rem;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(2, 73, 135);
  border-radius: 5px;
}

.meaning{
  max-width: 300px;
  padding: .6rem;
  background-color: #edf0f3;
  margin-top: .4rem;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(2, 73, 135);
  border-radius: 5px;
}

.synonyms{
  max-width: 300px;
  padding: .6rem;
  background-color: #edf0f3;
  margin-top: .4rem;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(2, 73, 135);
  border-radius: 5px;

}

strong{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.1rem;
}

.searchbar{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   text-align: left;
   margin-top: 10rem;
}

.search-input {
   padding: 1rem;
   width: 10rem;
   background-color: #197BEA;
   border: none;
   text-decoration-color: aliceblue;
   outline: none;
   color: aliceblue;
   border-radius: 5px;
   font-size: .9rem; 
  
 }

.search-input::placeholder {
   color: rgb(240, 240, 240); 
 }
 

 .search-button {
   width: 9rem;
   margin-top: 2rem;
   padding: 1rem;
   background-color: #197BEA; 
   border: none; 
   border-radius: 4px;
   color: #FFF; 
   font-size: .9rem; 
   cursor: pointer; 
   transition: background-color 0.3s, transform 0.3s;
 }
 
 .search-button:hover {
   background-color: #105BA0; 
   transform: scale(1.05);
 }
 
 .search-button:active {
   background-color: #0F4D91; 
   transform: scale(0.95); 
 }

.audio{
   align-self: baseline;
   width: 15rem;
   align-self: center;
   margin-top: 7rem;
}

.error{
  text-align: center;
  margin-top: 2rem;
}


